<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tower_archer_lvl3_shooter_0001</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,8}</string>
        <key>spriteSize</key>
        <string>{28,26}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{1,1},{28,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0002</key>
      <dict>
        <key>spriteOffset</key>
        <string>{3,8}</string>
        <key>spriteSize</key>
        <string>{29,26}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{31,1},{29,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0003</key>
      <dict>
        <key>spriteOffset</key>
        <string>{7,4}</string>
        <key>spriteSize</key>
        <string>{18,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{62,1},{18,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0004</key>
      <dict>
        <key>spriteOffset</key>
        <string>{7,4}</string>
        <key>spriteSize</key>
        <string>{18,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{82,1},{18,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0005</key>
      <dict>
        <key>spriteOffset</key>
        <string>{7,4}</string>
        <key>spriteSize</key>
        <string>{18,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{102,1},{18,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0006</key>
      <dict>
        <key>spriteOffset</key>
        <string>{5,3}</string>
        <key>spriteSize</key>
        <string>{21,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{122,1},{21,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0007</key>
      <dict>
        <key>spriteOffset</key>
        <string>{5,3}</string>
        <key>spriteSize</key>
        <string>{21,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{145,1},{21,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0008</key>
      <dict>
        <key>spriteOffset</key>
        <string>{3,3}</string>
        <key>spriteSize</key>
        <string>{23,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{168,1},{23,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0009</key>
      <dict>
        <key>spriteOffset</key>
        <string>{3,3}</string>
        <key>spriteSize</key>
        <string>{23,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{193,1},{23,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0010</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,3}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{218,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0011</key>
      <dict>
        <key>spriteOffset</key>
        <string>{8,4}</string>
        <key>spriteSize</key>
        <string>{19,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{245,1},{19,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0012</key>
      <dict>
        <key>spriteOffset</key>
        <string>{8,4}</string>
        <key>spriteSize</key>
        <string>{19,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{266,1},{19,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0013</key>
      <dict>
        <key>spriteOffset</key>
        <string>{8,4}</string>
        <key>spriteSize</key>
        <string>{19,30}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{287,1},{19,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0014</key>
      <dict>
        <key>spriteOffset</key>
        <string>{6,3}</string>
        <key>spriteSize</key>
        <string>{21,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{308,1},{21,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0015</key>
      <dict>
        <key>spriteOffset</key>
        <string>{6,3}</string>
        <key>spriteSize</key>
        <string>{21,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{331,1},{21,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0016</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,3}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{354,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0017</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,3}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{380,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_lvl3_shooter_0018</key>
      <dict>
        <key>spriteOffset</key>
        <string>{3,3}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{36,34}</string>
        <key>textureRect</key>
        <string>{{406,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>tower_archer_lvl3_shooter_0.png</string>
      <key>size</key>
      <string>{0,0}</string>
      <key>smartupdate</key>
      <string>653623647@qq.com</string>
      <key>textureFileName</key>
      <string>tower_archer_lvl3_shooter_0.png</string>
    </dict>
  </dict>
</plist>