<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tower_archer_druid_0001</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,9}</string>
        <key>spriteSize</key>
        <string>{33,40}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1,1},{33,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0002</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,9}</string>
        <key>spriteSize</key>
        <string>{33,40}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{36,1},{33,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0041</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,9}</string>
        <key>spriteSize</key>
        <string>{33,40}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{71,1},{33,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0003</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{33,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{106,1},{33,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0004</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{33,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{141,1},{33,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0039</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{33,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{176,1},{33,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0040</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{33,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{211,1},{33,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0005</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{246,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0006</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{283,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0007</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{320,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0008</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{357,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0009</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{394,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0010</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,6}</string>
        <key>spriteSize</key>
        <string>{35,43}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{431,1},{35,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0011</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{37,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{468,1},{37,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0012</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{37,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{507,1},{37,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0036</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{37,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{546,1},{37,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0037</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{37,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{585,1},{37,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0038</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,8}</string>
        <key>spriteSize</key>
        <string>{37,41}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{624,1},{37,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0013</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,9}</string>
        <key>spriteSize</key>
        <string>{37,40}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{663,1},{37,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0014</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,9}</string>
        <key>spriteSize</key>
        <string>{37,40}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{702,1},{37,40}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0015</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,2}</string>
        <key>spriteSize</key>
        <string>{40,47}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{741,1},{40,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0016</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,2}</string>
        <key>spriteSize</key>
        <string>{40,47}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{783,1},{40,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0017</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{825,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0018</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{868,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0019</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{911,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0020</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{954,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0021</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{997,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0022</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1040,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0023</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1083,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0024</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1126,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0025</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1169,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0026</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1212,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0027</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1255,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0028</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1298,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0029</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1341,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0030</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{41,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1384,1},{41,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0031</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{40,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1427,1},{40,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0032</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{39,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1469,1},{39,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0033</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,1}</string>
        <key>spriteSize</key>
        <string>{38,48}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1510,1},{38,48}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0034</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,2}</string>
        <key>spriteSize</key>
        <string>{38,47}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1550,1},{38,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>tower_archer_druid_0035</key>
      <dict>
        <key>spriteOffset</key>
        <string>{0,2}</string>
        <key>spriteSize</key>
        <string>{38,47}</string>
        <key>spriteSourceSize</key>
        <string>{46,51}</string>
        <key>textureRect</key>
        <string>{{1590,1},{38,47}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>tower_archer_druid_0.png</string>
      <key>size</key>
      <string>{0,0}</string>
      <key>smartupdate</key>
      <string>653623647@qq.com</string>
      <key>textureFileName</key>
      <string>tower_archer_druid_0.png</string>
    </dict>
  </dict>
</plist>