<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>goblin_0001</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0002</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{27,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0003</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{53,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0004</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{80,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0005</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{107,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0006</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{134,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0007</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{161,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0008</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{188,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0009</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{215,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0010</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{24,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{242,1},{24,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0011</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{24,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{268,1},{24,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0012</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{294,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0013</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{320,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0014</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{346,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0015</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{373,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0016</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{400,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0017</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{427,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0018</key>
      <dict>
        <key>spriteOffset</key>
        <string>{23,8}</string>
        <key>spriteSize</key>
        <string>{23,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{454,1},{23,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0019</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{479,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0020</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{505,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0021</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{24,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{531,1},{24,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0022</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{24,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{557,1},{24,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0023</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{25,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{583,1},{25,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0024</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{25,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{610,1},{25,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0025</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{25,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{637,1},{25,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0026</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{25,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{664,1},{25,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0027</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,10}</string>
        <key>spriteSize</key>
        <string>{25,30}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{691,1},{25,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0028</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,10}</string>
        <key>spriteSize</key>
        <string>{25,30}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{718,1},{25,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0029</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{25,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{745,1},{25,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0030</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{25,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{772,1},{25,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0031</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{25,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{799,1},{25,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0032</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,15}</string>
        <key>spriteSize</key>
        <string>{25,25}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{826,1},{25,25}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0033</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,15}</string>
        <key>spriteSize</key>
        <string>{25,25}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{853,1},{25,25}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0034</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{25,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{880,1},{25,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0035</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,13}</string>
        <key>spriteSize</key>
        <string>{25,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{907,1},{25,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0036</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{934,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0037</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{960,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0038</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{986,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0039</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,8}</string>
        <key>spriteSize</key>
        <string>{25,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1013,1},{25,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0040</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{24,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1040,1},{24,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0041</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,11}</string>
        <key>spriteSize</key>
        <string>{26,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1066,1},{26,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0042</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,11}</string>
        <key>spriteSize</key>
        <string>{26,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1094,1},{26,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0043</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,14}</string>
        <key>spriteSize</key>
        <string>{25,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1122,1},{25,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0044</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,14}</string>
        <key>spriteSize</key>
        <string>{25,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1149,1},{25,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0045</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1176,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0046</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1202,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0047</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1228,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0048</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1254,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0049</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,10}</string>
        <key>spriteSize</key>
        <string>{24,30}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1280,1},{24,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0050</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,10}</string>
        <key>spriteSize</key>
        <string>{24,30}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1306,1},{24,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0051</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{24,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1332,1},{24,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0052</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1358,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0053</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1384,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0054</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,14}</string>
        <key>spriteSize</key>
        <string>{24,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1410,1},{24,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0055</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,14}</string>
        <key>spriteSize</key>
        <string>{24,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1436,1},{24,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0056</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1462,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0057</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,12}</string>
        <key>spriteSize</key>
        <string>{24,28}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1488,1},{24,28}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0058</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1514,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0059</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,9}</string>
        <key>spriteSize</key>
        <string>{24,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1540,1},{24,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0060</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{24,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1566,1},{24,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0061</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,8}</string>
        <key>spriteSize</key>
        <string>{24,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1592,1},{24,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0062</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,7}</string>
        <key>spriteSize</key>
        <string>{24,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1618,1},{24,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0063</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,11}</string>
        <key>spriteSize</key>
        <string>{25,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1644,1},{25,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0064</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,11}</string>
        <key>spriteSize</key>
        <string>{25,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1671,1},{25,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0065</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,14}</string>
        <key>spriteSize</key>
        <string>{25,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1698,1},{25,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0066</key>
      <dict>
        <key>spriteOffset</key>
        <string>{21,14}</string>
        <key>spriteSize</key>
        <string>{25,26}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1725,1},{25,26}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0067</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1752,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0068</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1778,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0069</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1804,1},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0070</key>
      <dict>
        <key>spriteOffset</key>
        <string>{11,7}</string>
        <key>spriteSize</key>
        <string>{34,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1830,1},{34,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0071</key>
      <dict>
        <key>spriteOffset</key>
        <string>{11,7}</string>
        <key>spriteSize</key>
        <string>{34,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1866,1},{34,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0072</key>
      <dict>
        <key>spriteOffset</key>
        <string>{10,7}</string>
        <key>spriteSize</key>
        <string>{35,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1902,1},{35,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0073</key>
      <dict>
        <key>spriteOffset</key>
        <string>{10,7}</string>
        <key>spriteSize</key>
        <string>{35,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1939,1},{35,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0074</key>
      <dict>
        <key>spriteOffset</key>
        <string>{9,7}</string>
        <key>spriteSize</key>
        <string>{36,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1976,1},{36,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0075</key>
      <dict>
        <key>spriteOffset</key>
        <string>{9,7}</string>
        <key>spriteSize</key>
        <string>{36,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{826,28},{36,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0076</key>
      <dict>
        <key>spriteOffset</key>
        <string>{9,7}</string>
        <key>spriteSize</key>
        <string>{36,33}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1122,29},{36,33}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0077</key>
      <dict>
        <key>spriteOffset</key>
        <string>{17,4}</string>
        <key>spriteSize</key>
        <string>{38,36}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1410,29},{38,36}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0078</key>
      <dict>
        <key>spriteOffset</key>
        <string>{17,4}</string>
        <key>spriteSize</key>
        <string>{38,36}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1698,29},{38,36}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0079</key>
      <dict>
        <key>spriteOffset</key>
        <string>{17,4}</string>
        <key>spriteSize</key>
        <string>{38,36}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{242,30},{38,36}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0080</key>
      <dict>
        <key>spriteOffset</key>
        <string>{24,17}</string>
        <key>spriteSize</key>
        <string>{27,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{2014,1},{27,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0081</key>
      <dict>
        <key>spriteOffset</key>
        <string>{24,16}</string>
        <key>spriteSize</key>
        <string>{27,24}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{2014,26},{27,24}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0082</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{531,30},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0083</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{29,35}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{557,30},{29,35}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0084</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{29,36}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{588,30},{29,36}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0085</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,6}</string>
        <key>spriteSize</key>
        <string>{32,41}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{864,30},{32,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0086</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,6}</string>
        <key>spriteSize</key>
        <string>{32,41}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{898,30},{32,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0087</key>
      <dict>
        <key>spriteOffset</key>
        <string>{19,4}</string>
        <key>spriteSize</key>
        <string>{36,43}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1,31},{36,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0088</key>
      <dict>
        <key>spriteOffset</key>
        <string>{19,4}</string>
        <key>spriteSize</key>
        <string>{36,43}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{282,31},{36,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0089</key>
      <dict>
        <key>spriteOffset</key>
        <string>{19,6}</string>
        <key>spriteSize</key>
        <string>{36,41}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{772,31},{36,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0090</key>
      <dict>
        <key>spriteOffset</key>
        <string>{18,6}</string>
        <key>spriteSize</key>
        <string>{39,41}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1160,31},{39,41}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0091</key>
      <dict>
        <key>spriteOffset</key>
        <string>{18,4}</string>
        <key>spriteSize</key>
        <string>{39,43}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1450,31},{39,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0092</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,4}</string>
        <key>spriteSize</key>
        <string>{32,43}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{619,32},{32,43}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0093</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{653,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0094</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1066,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0095</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1201,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0096</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1235,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0097</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1358,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0098</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1644,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0099</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1738,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0100</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1772,32},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0101</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,5}</string>
        <key>spriteSize</key>
        <string>{32,42}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{687,33},{32,42}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0102</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,3}</string>
        <key>spriteSize</key>
        <string>{32,44}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1269,33},{32,44}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0103</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,3}</string>
        <key>spriteSize</key>
        <string>{32,44}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{39,34},{32,44}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0104</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{29,36}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{73,34},{29,36}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0105</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,34}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{320,31},{24,34}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0106</key>
      <dict>
        <key>spriteOffset</key>
        <string>{22,11}</string>
        <key>spriteSize</key>
        <string>{24,29}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1303,33},{24,29}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0107</key>
      <dict>
        <key>spriteOffset</key>
        <string>{6,8}</string>
        <key>spriteSize</key>
        <string>{32,31}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{188,34},{32,31}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0108</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,7}</string>
        <key>spriteSize</key>
        <string>{31,32}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{346,34},{31,32}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0109</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,9}</string>
        <key>spriteSize</key>
        <string>{30,30}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{479,34},{30,30}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0110</key>
      <dict>
        <key>spriteOffset</key>
        <string>{4,20}</string>
        <key>spriteSize</key>
        <string>{31,27}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{721,34},{31,27}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0111</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,27}</string>
        <key>spriteSize</key>
        <string>{33,19}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{932,34},{33,19}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0112</key>
      <dict>
        <key>spriteOffset</key>
        <string>{2,27}</string>
        <key>spriteSize</key>
        <string>{33,19}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1491,34},{33,19}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0113</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1526,34},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0114</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{104,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0115</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{140,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0116</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{379,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0117</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{415,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0118</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{967,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0119</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{34,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1003,35},{34,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
      <key>goblin_0120</key>
      <dict>
        <key>spriteOffset</key>
        <string>{1,24}</string>
        <key>spriteSize</key>
        <string>{32,23}</string>
        <key>spriteSourceSize</key>
        <string>{68,48}</string>
        <key>textureRect</key>
        <string>{{1562,35},{32,23}}</string>
        <key>textureRotated</key>
        <false/>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>3</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>goblin_0.png</string>
      <key>size</key>
      <string>{0,0}</string>
      <key>smartupdate</key>
      <string>653623647@qq.com</string>
      <key>textureFileName</key>
      <string>goblin_0.png</string>
    </dict>
  </dict>
</plist>